$open: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$open-it: 'Open Sans Italic', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$open-l: 'Open Sans Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$open-lit: 'Open Sans Light Italic', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$open-s: 'Open Sans Semibold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$open-sit: 'Open Sans Semibold Italic', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$open-b: 'Open Sans Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$open-bit: 'Open Sans Bold Italic', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$open-eb: 'Open Sans Extrabold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$open-ebit: 'Open Sans Extrabold Italic', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$roboto: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// Color
$white: #ffffff;
$black: #000;

$blue: #002d57;
$red: #dc0e32;
$orange: #ffa000;
$violet: #2c357e;
